
<div class="columns is-vcentered">
  <div class="column is-3">
    <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
      <%= image_tag @food.image.url %>
    </figure>
  </div>
  <div class="column">
    <br>
    <h3 class="title is-3 has-text-info"><%= @food.name %>のアレンジレシピ</h3>
    <br>
    <%= link_to new_food_recipe_path, class: "button is-primary is-outlined" do %>
      アレンジレシピを投稿する
    <% end %>
    <%= link_to food_path(@food), class: "button is-danger is-outlined" do %>
      戻る
    <% end %>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <%= link_to recipe.recipe_name, food_recipe_path(@food, recipe) %>
            </div>
            <div class="card-content">
              <div class="card-image">
                <figure class="image is-4by3">
                  <%= link_to food_recipe_path(@food, recipe) do %>
                    <%= image_tag recipe.recipe_image.url %>
                  <% end %>
                </figure>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<br>
