<section class="hero is-small has-background-danger-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>
<% if current_user.admin? && (current_user == @user) %>
　<%= link_to rails_admin_path, class: "button is-info is-outlined" do %>
　  管理者画面へ
　<% end %>
<% end %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-fifths">
        <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
          <% if @user.profile_image? %>
            <%= image_tag @user.profile_image.url, class: "profile_image is-rounded" %>
          <% else %>
            <%= image_tag ("download-1.png"), class: "profile_image is-rounded" %>
          <% end %>
        </figure>
      </div>
      <div class="column is-6">
        <table>
          <tr>
            <td>
              <strong class="is-size-4"><%= @user.username %></strong>
              <br>
              <% if @user.id == current_user.id %>
                <%= @user.email %>
              <% end %>
            </td>
            <td>
              <% if @user.id == current_user.id %>
                <%= link_to "プロフィールを編集", edit_user_path(@user), class: "button is-small" %>
              <% end %>
            </td>
          </tr>
        </table>
        <table class="table is-fullwidth">
          <tr>
            <td>
              <%= @user.profile %>
            </td>
          </tr>
        </table>
        <%= link_to foods_path, class: "button is-rounded" do %>
          戻る
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="hero is-small has-background-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        お気に入りしたラーメン
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.favorites.each do |favorite| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <%= link_to favorite.food.name, food_path(favorite.food) %>
            </div>
            <div class="card-content">
              <div class="card-image">
                <figure class="image is-128x128">
                  <%= link_to food_path(favorite.food) do %>
                    <%= image_tag favorite.food.image.url, class: "food_image" %>
                  <% end %>
                </figure>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
