<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :値段 %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :味 %>
    <%= form.select :taste, Food.tastes.keys, {prompt: "選択してください"} %>
  </div>

  <div class="field">
    <%= form.label :系統 %>
    <%= form.select :genre, Food.genres.keys, {prompt: "選択してください"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
