<div class="set_center_outer">
  <div class="set_center_inner">
    <% if food.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(food.errors.count, "件のエラー") %></h2>
        <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <%= form_with(model: food, local: true) do |form| %>
          <div class="field">
            <%= form.label :name, "ラーメンの商品名", class: "label" %>
            <%= form.text_field :name, class: "input", placeholder: "例)チキンラーメン" %>
          </div>
          <div class="field">
            <%= form.label :image, "写真", class: "label" %>
            <%= form.file_field :image %>
          </div>
          <div class="field">
            <%= form.label :content, "詳細", class: "label" %>
            <%= form.text_area :content, class: "textarea", placeholder: "例)チキンラーメンのサイトなど" %>
          </div>
          <div class="field">
            <%= form.label :company, "会社名", class: "label" %>
            <%= form.text_field :company, class: "input", placeholder: "例)日清食品" %>
          </div>
          <div class="field">
            <%= form.label :price, "値段", class: "label" %>
            <%= form.number_field :price, class: "input", placeholder: "例)160" %>
          </div>
          <div class="field">
            <%= form.label :taste, "味", class: "label" %>
            <%= form.select :taste, Food.tastes.keys, {prompt: "選択してください"}, class: "select" %>
          </div>
          <div class="field">
            <%= form.label :genre, "系統", class: "label" %>
            <%= form.select :genre, Food.genres.keys, {prompt: "選択してください"}, class: "select" %>
          </div>
          <div class="actions">
            <%= form.submit '投稿', class: "button is-rounded" %>
          </div>
        <% end %>
        <%= link_to foods_path, class: "button is-rounded" do %>
          戻る
        <% end %>
      </div>
    </div>
  </div>
</section>
