<p id="notice"><%= notice %></p>

<h1>Foods</h1>
<h2>ラーメン検索</h2>
<%= search_form_for @q, url: search_foods_path do |f| %>
  <%= f.label :name_cont, '商品名' %>
  <%= f.search_field :name_cont %>
  <%= f.label :taste_id_eq, "味を選択する" %>
  <%= f.select :taste_eq, options_for_select(Food.tastes),{prompt: "味を選択してください"} %>
  <%= f.label :genre_eq, "系統を選択する" %>
  <%= f.select :genre_eq, options_for_select(Food.genres),{prompt: "系統を選択してください"} %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Content</th>
      <th>Company</th>
      <th>Price</th>
      <th>Taste</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td class="food_image"><%= image_tag food.image.url %></td>
        <td><%= food.content %></td>
        <td><%= food.company %></td>
        <td><%= food.price %></td>
        <td><%= food.taste %></td>
        <td><%= food.genre %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
