<section class="hero is-small has-background-danger-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ラーメン一覧
      </h1>
    </div>
  </div>
</section>

<div class="columns is-vcentered">
  <div class="column">
    <h2>ラーメン検索</h2>
    <div>
      <%= search_form_for @q, url: search_foods_path do |f| %>
        <div class="column is-two-thirds">
          <%= f.search_field :name_cont, class: "input is-smallfa-solid", placeholder: "キーワード検索 例)日清 しょうゆ" %>
        </div>
        <div class="select is-small">
          <%= f.select :taste_eq, options_for_select(Food.tastes),{prompt: "味を選択してください"} %>
        </div>
        <div class="select is-small">
          <%= f.select :genre_eq, options_for_select(Food.genres),{prompt: "系統を選択してください"} %>
        </div>
        <%= f.submit '検索', class: "button is-small" %>
      <% end %>
    </div>
  </div>
  <div class="column">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "新規ラーメン追加",new_food_path, class: "button is-danger" %>
    <% end %>
  </div>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        並び替え
      </a>

      <div class="navbar-dropdown is-hoverable">
        <div class="navbar-item">
          <%= sort_link(@q, :created_at, "新着順") %>
        </div>
        <div class="navbar-item">
          <%= sort_link(@q, :price, "値段") %>
        </div>
        <div class="navbar-item">
          <%= sort_link(@q, :scores, "人気") %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @foods.each do |food| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image is-128x128">
                  <%= link_to food_path(food) do %>
                    <%= image_tag food.image.url, class: "food_image" %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <%= link_to food.name, food_path(food) %>
            </div>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= food.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= food.avg_score %>点（<%= food.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to edit_food_path(food), class: "button card-footer-item" do %>
                  編集
                <% end %>
                <%= link_to food_path(food), method: :delete, data:{confirm: "削除しますか？"}, class: "button card-footer-item" do %>
                  削除
                <% end %>
              <% end %>
            </footer>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= paginate @foods %>
