<!DOCTYPE html>
<html>
  <head>
    <title>CupmenClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5a6e161ade.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header class="header">

</header>

  <body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <p class="navbar-item">
          <%= link_to root_path do %>
           <strong class="is-size-3" style="font-family: cursive; color: #fff; text-shadow:1px 1px 0 #f00,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;">Cupmen log</strong>
          <% end %>
        </p>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to foods_path, class: "navbar-item" do %>
            ラーメン一覧
          <% end %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <p class="navbar-item">ようこそ <%= current_user.username %> さん</p>
            <% end %>
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to user_path(current_user.id), class: "button" do %>
                  マイページ
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "button" do %>
                  ログアウト
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, class: "button" do %>
                  ログイン
                <% end %>
                <%= link_to new_user_registration_path, class: "button" do %>
                  新規登録
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
  <footer class="footer has-background-warning">
    <div class="content has-text-centered">
      <nav class="level">
        <div class="level-item has-text-centered">
          <a href="#">
            プライバシー
          </a>
        </div>
        <div class="level-item has-text-centered">
          <a href="#">
            利用規約
          </a>
        </div>
        <div class="level-item has-text-centered">
          <a href="#">
            免責事項
          </a>
        </div>
        <div class="level-item has-text-centered">
          <a href="#">
            採用情報
          </a>
        </div>
        <div class="level-item has-text-centered">
          <a href="#">
            お問い合わせ・ヘルプ
          </a>
        </div>
        <div class="level-item has-text-centered">
          <a href="#">
            ご意見・ご要望
          </a>
        </div>
      </nav>
      <div>
        © JOHOBASE
      </div>
    </div>
  </footer>
</html>
